<h1 class="text-center mt-5">About us</h1>
<p class= "m-3">At Jungle, we take the art of shopping very seriously and strive to make your experience as fun and efficient as possible. We opened our store for those who are always on the lookout for that perfect plant or product: affordable, lasting and beautiful.
All product is carefully picked and added to our collection of plants, quality plant and home goods. Our team members are committed to assisting you in finding the items youre looking for and are there for your every need. Come in for a visit today!</p>
